/* .filteredTesk{
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(15, 15, 15, 0.15);
  border: 2px solid rgba(233, 236, 6, 0.2);
  margin:8px;
  list-style-type: none;
  border-radius: 15px;
  
} */

/* .input {
  padding: 5px 10px;
  justify-content: space-between;
  background-color: rgba(58, 217, 245, 0.15);
  border: 2px solid rgba(199, 16, 16, 0.2);
  margin:8px;
  list-style-type: none;
  border-radius: 15px;
} */